body {
    background-color: #f2c6f8;
    cursor: url(trainphotoshop.png), pointer;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    cursor: url(trainphotoshop.png), pointer;
}
h2 {
    font-size: 10px;
      text-align: center;
}
header {
    cursor: url(trainphotoshop.png), pointer;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: url(trainphotoshop.png), pointer;
}
p {
    text-align: center;
    color: #ff00ea;   
    font-family: 'Open Sans', sans-serif;

}
.blocks {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.left:hover {
    filter: drop-shadow(3px 10px 4px #ff00ea);
}
.middle:hover {
    filter: drop-shadow(3px 10px 4px #ff00ea);
}
.right:hover {
    filter: drop-shadow(3px 10px 4px #ff00ea);
}

#TayandEm {
    font-size: 30px;
}
.row {
    float: left;
    width: 20%;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 33px;
  
}
#hide {
    visibility: hidden;
}
#taylorgroup:hover #hide {
    visibility: visible;
}
#hideonhover {
    visibility: hidden;
}

#emilygroup:hover #hideonhover {
    visibility: visible;
}

img {
    max-width: 100%;
    height: auto;
}
.paragraph {
    clear: both;
}
.zine1:hover {
    filter: drop-shadow(3px 10px 4px #e9d700);
}
.zine2:hover {
    filter: drop-shadow(3px 10px 4px #e9d700);
}
.zine3:hover {
    filter: drop-shadow(3px 10px 4px #e9d700);

}
.zinerow {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.station {
    font-style: italic;
    color:#ff00ea;
    text-align: center;
    margin-bottom: 40px;
}
.station:hover {
    /* animation: color-change 2s infinite; */
    text-align: center;
  
    background: linear-gradient(to left, #ff00ea 20%, #1eff00 40%, #1eff00 60%, #ff00ea 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;}

    @keyframes shine {

    from {background-position: 200%;}
    
    to {
        background-position: -200%;
      }
    }
}
.zine1styles {
    color: #1eff00;
}
.ftm {
    margin-top: 110px;
}
.taxi {
    margin-top: 110px;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  }

  @media screen and (max-width: 1200px) {

    .blocks {
        margin-left: 8%;
        margin-right: 10%;
        font-size: 20px;
  }
  
  }
  a {
      color: red;
  }
