body {
    background-color: #ffb1b1;
    font-size: 25px;
    color: red;
    font-family: 'Open Sans', sans-serif;

}
h1, h2 {
  text-align: center;
  color: #B9FFB9;
}
h2 {
  font-size: 15px;
  font-style: italic;
}
h1 {
  font-size: 25px;
}
.row1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
  margin-left: 100px;

}
.row2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 100px;
  flex-wrap: wrap;
}

div {
  height: 330px;
  width: 330px;
  background-color: blue;
  margin-right: 100px;
}

.one,.four {
  background-color: #B9FFB9;
}
.two,.three {
  background-color: #FFD5F8;
}
.one,.three {
  box-shadow: 2px 2px 5px red;
}
.two,.four {
    box-shadow: 2px 2px 5px red;
}
.train {
  width: 75px;
  height: 55px;
  background-color: transparent;
}
.one:hover .train {
  animation: slide 3s ease-in-out infinite;
}

@keyframes slide {
  0%{
    transform: translate(0, 0); 
  }
 90%{
    transform: translate(14vw, 190px); 
  }
}
.wheel {
  width: 75px;
  height: 55px;
  background-color: transparent;
  margin-top: 115px;
}
.three:hover .wheel {
   animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate {
    0, 100%{
    transform: rotate(720deg);
  }
  50%{
    transform: translate(17vw, 0) rotate(720deg);
  }
}
.signal {
  margin-left: 200px;
  margin-top: 80px;
   width: 75px;
  height: 165px;
  background-color: transparent;  
}
.four:hover .signal {
     animation: turn 3s ease-in-out infinite;
}

@keyframes turn {
  50%{
    transform: rotate(-90deg);
  }
}
.text1,.text2,.text3,.text4 {
  text-align: center;
  position: relative;
  background-color: transparent;
  height: 40px;
}

.text1 {
  height: 40px;
  top: 65%;
}
.text3 {
  top: 30%;
}
.text4 {
  top: 7%
}
.piece1 {
  width: 60px;
  height: 55px;
  background-color: transparent;
  margin-top: 110px;
  margin-left: 50px;
  margin-right: 0px;
}
.piece2 {
  width: 80px;
  height: 32px;
  background-color: transparent;
  margin-top: 155px;
  margin-right: 0px;
  margin-left: 75px;
}

.pieces {
  display: flex;
  justify-content: space;
  flex-wrap: wrap;}


  .two:hover .piece1 {
    animation: connect1 2s ease-in-out infinite;
  }

  @keyframes connect1 {
    0%{
      transform: translate(0, 0); 
    }
   90%{
      transform: translate(1vw, 0); 
    }
  }


  .two:hover .piece2 {
    animation: connect2 2s ease-in-out infinite;
  }

  @keyframes connect2 {
    0%{
      transform: translate(0, 0); 
    }
   90%{
      transform: translate(-3.8vw, 0); 
    }
  }
  .text2 {
top: 25%;
  }
  a:link, a:visited, a:active {
    color: red;
  }
  a:hover {
    color: hotpink;
  }

header {
  
}
  .tinytrainmoving {
    animation: top 12s ease-in-out infinite;
    background:transparent;
    margin-bottom: -250px;
  }

  @keyframes top {
    0%, 100%{
      transform: translate(0, 0); 
    }
   50%{
      transform: translate(85vw, 0); 
    }
  }

  @media screen and (max-width: 1000px) {
    .one, .two, .three, .four {
      margin-top: 100px;
    }
    .row1, .row2{
      margin-top: 0px;
    }
    h1 {
      font-size: 20px;
      margin-top: 50px;
    }
    h2 {
      font-size: 15px;
    }

  